doctype html

html(lang="en")
  head
    title DubHacks - Fall 2014

    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="keywords", content="UW, University of Washington, Hackathon, Competition")
    meta(name="description", content="The largest University of Washington hackathon. Ever.")
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css")
    link(rel="stylesheet", href="dist/css/custom.min.css")
    
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="js/custom.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-9509587-31', 'dubhacks.co');
      ga('send', 'pageview');

  body
    #fb-root
    .page-wrapper
      .social
        .fb-like(data-href="https://www.facebook.com/uwhacks", data-layout="button_count", data-action="like", data-show-faces="false", data-share="true")
        a.twitter-follow-button(href="https://twitter.com/DubHacks", data-show-count="false") Follow @DubHacks
      .jumbotron#top.img-bg
        .bg
        .top
          img.logo(src="dist/images/logo.png")
          p.tagline
            | Oct 17-18, 2014
            br
            | University of Washington, Seattle
      .jumbotron#details.blank-bg
        h1.blurb DubHacks is the first major collegiate hackathon 
          | in the Pacific Northwest.

        .col-md-6.col-md-offset-3
          p This October 17-18, over 300 top college hackers in the northwest will
            | gather at 
            a(href="http://depts.washington.edu/thehub/", target="_blank") the HUB
            |  to build the next generation of innovative software 
            | and hardware hacks.
          ul.why-join-us
            li
              span.fa.fa-group
              | Mentorship for everyone
            li
              span.fa.fa-bomb
              | Hardware hacking equipment
          ul.why-join-us
            li
              span.fa.fa-taxi
              | Buses to/from nearby universities
            li
              span.fa.fa-spoon
              | Tons of food, drinks, events

      .jumbotron#faq.img-bg
        .faq.jumb-padding
          h1 FAQ
          .row
            .col-md-4.col-md-offset-2
              strong When is DubHacks?
              p The gates will open on Friday, October 17th, at 5:00pm and 
                | continue onto the following day until 7:00pm, when  
                | prizes will be given out. The full schedule will be posted soon.
            .col-md-4
              strong Who can attend?
              p We strongly encourage undergraduate students from any university
                | to attend DubHacks. If you do not fit in this category, feel free to 
                a(href="mailto:contact@dubhacks.co") contact us.
          .row
            .col-md-4.col-md-offset-2
              strong How do I register?
              p We are looking for people with a passion of making or contributing
                |  to projects: mobile, hardware, web, design or anything else cool.
                |  We are looking for people who are passionate about making things.
                |  This can be evident from their social profiles
                |  (Github, portfolio, resume) or experience in other hackathons. If you
                |  are new to the hackathon scene, still apply.
            .col-md-4
              strong What about travel reimbursement?
              p If you live in the Northwest area, such as Portland or 
                | Vancouver, then bussing is a very good option. We will reimburse
                |  select participants up to $50. The location of the hackathon is at the University of 
                | Washington 
                a(href="https://www.google.com/maps/place/Husky+Union+Building+HUB", target="_blank") Husky Union Building (HUB)
          .row
            .col-md-4.col-md-offset-2
              strong How much does this event cost?
              p Absolutely free. We will provide your WiFi, meals, caffeine, 
                | swag, and the workspace.
            .col-md-4
              strong What should I bring?
              p All your hack gear. Passion, keyboard, mouse, laptop, and 
                | other necessary hardware (don't forget your chargers!). 
                | Along with that, you are free to bring toiletries, sleeping 
                | bags, and a change of clothes. You should also bring any valid 
                | form of identification and your ticket for security purposes.
          .row
            .col-md-4.col-md-offset-2
              strong How big are teams?
              p A team can be as big as 5 people or could consist of a 
                | couple of people. You can do it alone, but it'll be less fun!
            .col-md-4
              strong What should I build?
              p Anything really. The project is up to you and your team. You 
                | have 24 hours to make anything, ranging from web apps, 
                | desktop apps, mobile apps, or even traditional software.
          .row
            .col-md-4.col-md-offset-2
              strong Are we allowed to build on past projects?
              p A hackathon is an experience to build on something completely 
                | new within a set amount of time. With that in mind, you 
                | cannot work on past projects. Using your own APIs or 
                | third-party APIs is alright as long as the project is a 
                | fresh start.
            .col-md-4
              strong Will you have hardware prototyping equipment?
              p Yes. Our partners at MLH will have limited stock of Oculus Rifts,
                | Myo arm-bands, Leap Motions, Arduinos, 3D printers and more to give out to 
                | hackers for the duration of the hackathon.
          .row
            .col-md-4.col-md-offset-4
              strong I have a different question. Who can I ask?
              p Please feel free to reach out to us via 
                a(href="http://facebook.com/uwhacks") Facebook
                | , 
                a(href="http://twitter.com/dubhacks") Twitter
                | , or send an email to 
                a(href="mailto:contact@dubhacks.co") contact@dubhacks.co
                | .

      .jumbotron#sponsor.blank-bg
        .sponsor
          h1 Sponsors
          h3.sponsor-blurb DubHacks is fortunate to be working with a number of incredible 
            | sponsors. If you're interested in 
            a(href="/sponsor.pdf", target="_blank") sponsoring DubHacks
            | , we'd love to get your company involved. Contact us at 
            a(href="mailto:sponsor@dubhacks.co") sponsor@dubhacks.co
            | .
          br
          a(href='http://www.microsoft.com' target='_blank')
            img.img-responsive.sponsor-logo.platinum(src="/images/sponsors/microsoft.png")
          .row
            .col-md-4.col-md-offset-2
              a(href='http://www.qumulo.com/' target='_blank')
                img.img-responsive.sponsor-logo.gold(src="/images/sponsors/qumulo.png")
            .col-md-4
              a(href='http://www.tcs.com/' target='_blank')
                img.img-responsive.sponsor-logo.gold(src="/images/sponsors/tcs.jpg")
          .row
            .col-md-4
              a(href='http://www.amazon.com/' target='_blank')
                img.img-responsive.sponsor-logo.gold(src="/images/sponsors/amazon.jpg")
            .col-md-4
              a(href='http://www.evidence.com/' target='_blank')
                img.img-responsive.sponsor-logo.gold(src="/images/sponsors/evidence.png")
            .col-md-4
              a(href='http://www.google.com/' target='_blank')
                img.img-responsive.sponsor-logo.gold(src="/images/sponsors/google.png")
          .row
            .col-md-2.col-md-offset-3
              a(href='http://www.cisco.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/cisco.jpg")
            .col-md-2
              a(href='http://www.dropbox.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/dropbox.png")
            .col-md-2
              a(href='http://www.facebook.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/facebook.png")
          .row
            .col-md-2.col-md-offset-3
              a(href='http://depts.washington.edu/uwc4c/' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/C4C.jpg")
            .col-md-2
              a(href='http://www.libertymutual.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/libertymutual.png")
            .col-md-2
              a(href='http://www.newrelic.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/new_relic.png")
          .row
            .col-md-2.col-md-offset-3
              a(href='http://www.slice.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/slice.png")
            .col-md-2
              a(href='http://www.whitepages.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/whitepages.png")
            .col-md-2
              a(href='http://www.zillow.com' target='_blank')
                img.img-responsive.sponsor-logo.silver(src="/images/sponsors/zillow.jpg")
          .row
            .col-md-2.col-md-offset-2
              a(href='http://www.codeship.io' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/codeship.png")
            .col-md-2
              a(href='http://www.extrahop.com' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/extrahop.jpg")
            .col-md-2
              a(href='http://www.impacthubseattle.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/impacthub.png")
            .col-md-2
              a(href='http://www.intel.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/intel.png")
          .row
            .col-md-2.col-md-offset-2
              a(href='http://www.leapmotion.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/leap.png")
            .col-md-2
              a(href='http://hackster.io/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/hackster.jpg")
            .col-md-2
              a(href='http://dev.mashery.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/mashery.png")
            .col-md-2
              a(href='http://moj.io/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/mojio.png")
          .row
            .col-md-2.col-md-offset-2
              a(href='http://getpebble.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/pebble.png")
            .col-md-2
              a(href='http://www.sendgrid.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/sendgrid.png")
            .col-md-2
              a(href='http://www.twilio.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/twilio.png")
            .col-md-2
              a(href='http://www.ziggeo.com/' target='_blank')
                img.img-responsive.sponsor-logo.bronze(src="/images/sponsors/ziggeo.png")

          br
          h2 Partners
          .row
            .col-md-2.col-md-offset-3
              a(href="http://mlh.io/", target="_blank")
                img.sponsor-logo.partner(src="/images/partners/mlh.png")
            .col-md-2
              a(href="https://techfee.washington.edu/", target="_blank")
                img.sponsor-logo.partner(src="/images/partners/stf.png")
            .col-md-2
              a(href="http://www.washington.edu/itconnect/", target="_blank")
                img.sponsor-logo.partner(src="/images/partners/uwit.png")

      .footer.img-bg
        p.small DubHacks is a student event. Our sponsors are sponsors of the event and not of the University of Washington. There is no implied endorsement of these companies by the University.
        p
          a(href="http://hackcodeofconduct.org/dubhacks_f14") Code of Conduct
        p © DubHacks. 
          a(href="http://dubhacks.co/press") Press
          | &nbsp;
          a(href="mailto:contact@dubhacks.co") Contact us
          | . Made with
          | 
          i.fa.fa-heart
          |  in Seattle.

        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=209240735781035&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
